{% extends "oceanic-zen/templates/index.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ get_url(path="theme.css", trailing_slash=false) | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="custom.css", trailing_slash=false) | safe }}">
{% endblock css %}

{% block header %}
    <header>
        <div class="header-left">
            <a href="{{ config.base_url }}" class="logo">
              <div>
                <img src="{{ get_url(path="logo.png") }}" />
                {{ config.title }}
              </div>
            </a>
        </div>
        <div class="header-right">
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
              <ul>
                {% set index = get_section(path="_index.md") %}
                {% if config.extra.github %}
                <li class="nav">
                    <a itemprop="url" href="https://github.com/{{ config.extra.github }}">
                        <img class="icon" src="{{ config.base_url }}/icons/github.svg" alt="Github">
                    </a>
                </li>
                {% endif %}
              </ul>
            </nav>
        </div>
    </header>
{% endblock header %}
