{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<article class="post">

    <header>
        <h1>{{ page.title }}</h1>
    </header>

    {{ page_macros::page_info(page=page) }}

    {% if page.components is containing("worklogs") %}
    <div class="article-info">
      🚧
      This is a work log. In the work log, I record my steps, including mistakes
      or wrong decisions that I would not recommend. Hopefully, this work log
      will one day be distilled into a helpful blog post.
    </div>
    {% endif %}

    
    {{ page_macros::banner(page=page) }}

    {% set content = page.content | split(pat="<!-- TOC -->") %}
    {% if content | length > 1 %}
    {{ content[0] | safe }}
    {% endif %}

    {% if page.toc %}
    <div>
        <ul>
        {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if content | length > 1 %}
    {{ content[1] | safe }}
    {% else %}
    {{ content[0] | safe }}
    {% endif %}
     
</article>

{% endblock content %}

{% block comments %}
<div class="comments">

{% if page.extra.reddithref %}


<h2><i class="fa-brands fa-reddit-alien comment-section-icon"></i> Reddit comments</h2>

<a class="reddit-link" href={{page.extra.reddithref}}>See on Reddit</a>
<div class="reddit-embed"
     red-href="{{page.extra.reddithref}}" 
     red-opts='{"show_loading_animation": false, "show_post": true, "show_post_title": false, "show_post_body": false, "show_comments_section_header": false}'
>
</div>
{% endif %}

<h2><i class="fa-brands fa-github-alt comment-section-icon"></i>GitHub comments</h2>
<script src="https://utteranc.es/client.js"
        repo="PrimaMateria/blog"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

</div>
{% endblock comments %}

