{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<article class="post">

    <header>
        <h1>{{ page.title }}</h1>
    </header>

    {{ page_macros::page_info(page=page) }}

    {% if page.extra.banner %}
      <div class="banner">
       <img src="{{ get_url(path=page.extra.banner) }}" />
      </div>
    {% endif %}

    {% if page.toc %}
    <div>
        <ul>
        {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


    <div class="content">
        {{ page.content | safe }}
    </div>
</article>

{% endblock content %}

{% block comments %}

<script src="https://utteranc.es/client.js"
        repo="PrimaMateria/blog"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{% endblock comments %}

