ul {
  list-style: inside;
  padding-left: 16px;
  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

header {
  margin-bottom: 16px;
}

.logo div {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    width: 150px;
    border-radius: 50%;
  }
  .title {
    margin-left: 16px;
    color: #c0c5ce;
    font-size: 2rem;
    font-weight: bold;
  }
}

.nav {
  a .icon {
    width: 32px;
    height: 32px;
  }
}

.octopus {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 10px;

  min-height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;

  .octopus-content {
    .octopus-talk {
      color: #ec5f67;
      font-style: italic;
    }
  }
}

.end {
  color: #99c794;
  margin-top: -8px;
}

.todo {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 2px solid red;
  padding: 10px;
  span {
    color: red;
    font-weight: bold;
  }
}
