.update {
  margin-top: 32px;
  margin-bottom: 32px;
  .content {
    font-style: italic;
  }
}

.octopus {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 10px;

  min-height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;

  .octopus-content {
    .octopus-talk {
      font-style: italic;
    }
  }
}

.end {
  color: rgb(51, 51, 51);
  margin-top: -8px;
}

.todo {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 2px solid red;
  padding: 10px;
  span {
    color: red;
    font-weight: bold;
  }
}

.banner {
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  border-bottom: 1px dotted rgb(51, 51, 51);
}

article header h1 a {
  border-bottom: 1px dotted rgb(51, 51, 51);
}

pre {
  text-align: left;
  background-color: #fff;
}

code,
pre,
kbd {
  line-height: 1;
}

ul ol,
ol ol,
ul ul {
  margin: 0;
}

.zola-anchor {
  border: none;
  margin-left: -28px;
  margin-right: 8px;
  font-size: 0.8em;
}

@media (max-width: 767px) {
  .zola-anchor {
    display: none;
  }
}

.mermaid {
  display: flex;
  justify-content: space-around;
}

