ul {
  list-style: inside;
  padding-left: 16px;
  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

header {
  margin-bottom: 16px;

  .header-left {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}
