$black: #1b2b34;
$black_light: #343d46;
$gray_dark: #4f5b66;
$gray: #65737e;
$gray_light: #a7adba;
$white: #c0c5ce;
$silver: #cdd3de;
$silver_light: #d8dee9;
$white_pure: #ffffff;

$red: #ec5f67;
$orange: #f99157;
$green: #99c794;
$yellow: #fac863;
$blue: #6699cc;
$blue_light: #bcdaf7;
$magenta: #c594c5;
$cyan: #62b3b2;

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/iosevka-regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Iosevka";
  src: url("/fonts/iosevka-italic.woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka";
  src: url("/fonts/iosevka-bold.woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka";
  src: url("/fonts/iosevka-bolditalic.woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

$font: sans-serif;
$font-mono: "consolas", "Iosevka", monospace;
$padding: 8px;

body {
  font: 100% $font;
  line-height: 1.3;
  background: $black;
  color: $white;
  margin: 0;
}

body {
  height: 100vh;
}

header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
  padding: $padding;
}

p {
  text-align: justify;
}

footer {
  color: $gray_light;
  padding: 0 $padding $padding $padding;

  grid-area: footer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  list-style-type: none;
}

.nav {
  display: inline;
}

ul {
  list-style: none inside none;
  list-style-type: "·";
  padding: 0;
}

li::marker {
  color: $green;
}

ul ul {
  padding-left: 1em;
}

a {
  font-size: none;
  color: $blue;
  text-decoration: none;
}

h1 {
  color: $green;
  font-size: 24px;
  margin: 5px 0;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  color: $green;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 64px;
  border-bottom: 1px solid $gray;
}

h3 {
  color: $yellow;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 32px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

pre {
  padding: 1em;
  margin: 1em;
  overflow-x: auto;
}

code {
  font: 16px $font-mono;
}

p > code,
li > code {
  color: $orange;
  background-color: #2b303b;
  padding: {
    left: 5px;
    right: 5px;
  }
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.date {
  color: $gray_light;
  font-size: 14px;
}

.border {
  color: $gray_dark;
  margin: 8px 0 8px 0;
  border-top: 2px dashed;
}

.notfound {
  text-align: center;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
}

@media (max-width: 1200px) {
  .content {
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
    max-width: 1200px;
    min-width: 200px;
  }
}

img {
  max-width: 100%;
}

.banner {
  margin-top: 16px;
  margin-bottom: 16px;
}
