{% macro page_info(page) %}
    <div class="article-info">
        {% if page.date %}
        <div class="article-date">{{ page.date | date(format=config.extra.anpu_date_format) }}</div>
        {% endif %}

        {% if page.updated %}
        <div class="article-date">Last updated on {{ page.updated | date(format=config.extra.anpu_date_format) }}</div>
        {% endif %}

        {% if page.reading_time %}
        <div class="article-reading-time">Reading time: {{ page.reading_time }} min</div>
        {% endif %}
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro banner(page) %}
<div class="banner">
  {% if page.extra.banner %}
  {% set image748 = resize_image(path=page.extra.banner, width=748, op='fit_width') %}
  {% set image600 = resize_image(path=page.extra.banner, width=600, op='fit_width') %}
  {% set image450 = resize_image(path=page.extra.banner, width=450, op='fit_width') %}
  {% set image300 = resize_image(path=page.extra.banner, width=300, op='fit_width') %}
  <picture>
    <source media="(min-width: 0px) and (max-width:300px)" srcset="{{image300.url}}">
    <source media="(min-width: 300px) and (max-width:450px)" srcset="{{image450.url}}">
    <source media="(min-width: 450px) and (max-width:600px)" srcset="{{image600.url}}">
    {% if page.extra.bannerAlt %}
    <img src="{{image748.url}}" alt="{{page.extra.bannerAlt}}">
    {% else %}
    <img src="{{image748.url}}">
    {% endif %}
  </picture> 
</div>
{% endif %}
{% endmacro page_listing %}

{% macro page_listing(page) %}
    <article class="post-list">
        <header> 
            <h1>
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h1>
        </header>

        {{ self::page_info(page=page) }}

        {{ self::banner(page=page) }}

        {% if page.summary %}
        <div class="content post-summary">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
        
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}">To newer posts</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}">To older posts</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

{% macro subsection_listing(subsection) %}
{%- set section = get_section(path=subsection) -%}
      <li> <a href="{{section.permalink}}">{{section.title}}</a></li>
{% endmacro subsection_listing %}

